<?xml version="1.0" encoding="UTF-8" ?>
<suite name="WoMaiWhiteTest">
    <parameter name="Browser" value="chrome"/>
    <test name="User">
        <classes>
            <!--  <class name="AbsTest"/>
              <class name="WhiteTest"/>-->
            <class name=" "/>
        </classes>
    </test>
</suite>